---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Img_14 from '../img/img_14_result.webp';
import Img_15 from '../img/img_15_result.webp';
import Img_16 from '../img/img_16_result.webp';
import Img_17 from '../img/img_17_result.webp';
import Img_18 from '../img/img_18_result.webp';
import Img_19 from '../img/img_19_result.webp';
import Video_4 from '../img/video_4.mp4';
import Img_20 from '../img/img_20_result.webp';
import Img_21 from '../img/img_21.png';
import Img_22 from '../img/img_22.png';
import Img_23 from '../img/img_23.png';
import Img_24 from '../img/img_24.png';
import Img_25 from '../img/img_25.png';
import Img_26 from '../img/img_26.png';
import Img_27 from '../img/img_27.png';
import Img_28 from '../img/img_28.png';
---
<MainLayout title="Bliv frivillig">

  <!-- Top wrapper med padding -->
  <section class="px-6 sm:px-6 md:px-12 lg:px-28">

    <!-- H1 -->
    <div class="text-center pt-16">
      <Heading htmlheading="h1" size="h1" stylingclasses="text-primary font-black">
        BLIV FRIVILLIG OG GØR EN FORSKEL
      </Heading>
    </div>

    <!-- BLIV EN DEL AF FÆLLESKABET -->
    <section class="max-w-[75rem] mx-auto px-4 sm:px-6 md:px-0 mt-7 space-y-4 mb-20">
      <div class="max-w-4xl pt-1">
        <Heading htmlheading="h3" size="h3" stylingclasses="text-primary font-bold text-left">
          BLIV EN DEL AF FÆLLESKABET
        </Heading>
        <Text class="text-left">
          I Headspace arbejder vi for at skabe trygge fællesskaber omkring unge - både gennem vores workshops og gennem vores mange engagerede frivillige. Her kan du udforske mulighederne for at få besøg af HEADSPACE Outreach, booke oplæg, eller blive en del af vores frivilligfællesskab. Uanset om du vil styrke unges mentale trivsel gennem dialog, øvelser og workshops - eller støtte som frivillig ungerådgiver, formidler eller dialogpilot - er du med til at gøre en reel forskel i unges hverdag.
        </Text>
      </div>
    </section>

  </section>

  <!-- BLIV FRIVILLIG sektion med baggrund -->
  <section class="bg-secondary w-full py-10">
    <div class="max-w-[76rem] mx-auto sm:px-6 md:px-4 space-y-4 px-5">
      <div>
        <Heading htmlheading="h2" size="h2" stylingclasses="text-primary font-bold">BLIV FRIVILLIG</Heading>
        <br><br>
        <div>
          <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold">HJÆLP OS MED AT HJÆLPE UNGE</Heading>
        </div>
        <div class="text-left max-w-4xl"><Text>HEADSPACE er drevet af flere end 600 frivillige over hele landet, og der er næsten altid behov for flere. Uanset om du brænder for at hjælpe, støtte og rådgive børn og unge, fortælle de gode historier og øge kendskabet til headspace eller hjælpe med alle de dagligdagsting, der skal til for at drive et headspace – så har vi brug for dig! Det er vigtigt, at du har lyst til at være med til at gøre headspace til et trygt, rart og hyggeligt sted, hvor børn og unge kan komme og få talt om deres tvivl, følelser og problemstillinger.</Text>
        </div>

      </div>
    </div>

    <!-- Frivilligkort grid med padding/margin -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 w-full py-10 px-4 sm:px-6 md:px-8">
      {/** Kort 1 **/}
      <div class="flex flex-col h-full max-w-sm mx-auto">
        <img src={Img_14.src} alt="billede af frivillig fra HEADSPACE" class="w-full rounded-sm mt-5" />
        <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold mt-2">BLIV FRIVILLIG UNGERÅDGIVER</Heading>
        <Text>Mange frivillige bliver ungerådgivere i headspace. De arbejder med rådgivning af børn og unge mellem 12 og 25 år. Det vil sige personlige samtaler i headspace. Så hvis du tænker, at du har livserfaringer, indsigter, oplevelser eller faglige kompetencer, som er en styrke i arbejdet med børn og unge, så ansøg nu. Du skal afse 12 timer om måneden.</Text>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-auto w-full">ANSØG HER</button>
      </div>

      {/** Kort 2 **/}
      <div class="flex flex-col h-full max-w-sm mx-auto">
        <img src={Img_15.src} alt="billede af frivillig fra chatten hos HEADSPACE" class="w-full rounded-sm mt-5" />
        <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold mt-2">BLIV FRIVILLIG I CHATTEN</Heading>
        <Text>Du kan også blive frivillig ungerådgiver i HEADSPACE-chatten, som har hjemme hos headspace Gentofte tæt ved Hellerup st. Vi stiller de samme krav til ungerådgivere i chatten som til alle andre ungerådgivere i headspace. Du skal kunne afse 6-8 timer om måneden.</Text>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-auto w-full">ANSØG HER</button>
      </div>

      {/** Kort 3 **/}
      <div class="flex flex-col h-full max-w-sm mx-auto">
        <img src={Img_16.src} alt="billede af peer frivillig hos HEADSPACE" class="w-full rounded-sm mt-5" />
        <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold mt-2">BLIV PEER-FRIVILLIG I HEADSPACE</Heading>
        <Text>HEADSPACE Family er et samtaletilbud, som skal sikre øget trivsel hos børn og unge i alderen 12-25 år ved at give deres pårørende den støtte og vejledning, de har brug for. Vi tilbyder både individuelle samtaler og samtaler til hele familien. Med din hjælp kan endnu flere få nogen at tale med.</Text>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-auto w-full">ANSØG HER</button>
      </div>

      {/** Kort 4 **/}
      <div class="flex flex-col h-full max-w-sm mx-auto">
        <img src={Img_17.src} alt="billede af frivillig formidler hos HEADSPACE" class="w-full rounded-sm mt-5" />
        <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold mt-2">BLIV FRIVILLIG FORMIDLER</Heading>
        <Text>Vi har også brug for frivillige, som vil lave kommunikation og fortælle om HEADSPACE, så vi får flere til at bruge HEADSPACE. Det kan fx være ved at holde oplæg på skoler, arrangere events eller ved at producere indhold til sociale medier. Så kan vi også have brug for dig i det lokale headspace.</Text>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-auto w-full">ANSØG HER</button>
      </div>

      {/** Kort 5 **/}
      <div class="flex flex-col h-full max-w-sm mx-auto">
        <img src={Img_18.src} alt="billede af frivillig dialogpilot hos HEADSPACE" class="w-full rounded-sm mt-5" />
        <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold mt-2">BLIV FRIVILLIG DIALOGPILOT</Heading>
        <Text>Du kan blive en del af HEADSPACES DialogPiloter, der tager ud til unge og afholder workshops, med fokus på forskellige temaer, der vedrører mental sundhed. Vores workshops består primært af øvelser, der har til hensigt på en sjov og legende måde, at starte den gode dialog med de unge. Hvis dette lyder spændende så ansøg om at blive DialogPilot.</Text>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-auto w-full">ANSØG HER</button>
      </div>

      {/** Kort 6 **/}
      <div class="flex flex-col h-full max-w-sm mx-auto">
        <img src={Img_19.src} alt="billede af frivillig content creator hos HEADSPACE" class="w-full rounded-sm mt-5" />
        <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold mt-2">BLIV FRIVILLIG CONTENT CREATOR</Heading>
        <Text>Vi søger 4 frivillige til vores SoMe frivillig-gruppe. Er du mellem 18-24 år og brænder for at skabe meningsfuldt indhold på sociale medier? Vil du være en stemme for ungdommen og samtidig styrke dine kommunikative evner. Så er det dig, vi leder efter!</Text>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-auto w-full">ANSØG HER</button>
      </div>
    </div>
  </section>

  <!-- Video sektion -->
  <section class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center w-full max-w-[75rem] mx-auto px-4 sm:px-6 md:px-0 mt-7">
    <div>
      <Heading htmlheading="h3" size="h3" stylingclasses="text-primary font-bold">SOM FRIVILLIG I HEADSPACE SKAL DU</Heading>
      <ul class="list-disc pl-6 space-y-3 mb-5">
        <li>Brænde for at hjælpe unge på deres præmisser</li>
        <li>Være god til at lytte</li>
        <li>Deltage i løbende supervision og dele dine tanker og oplevelser</li>
        <li>Deltage i vores introuddannelse</li>
        <li>Bruge gennemsnitligt 12 timer om måneden på arbejdet i et HEADSPACE-center og 6-8 timer om måneden i chatten.</li>
      </ul>
      <br><br>
      <Heading htmlheading="h3" size="h3" stylingclasses="text-primary font-bold mt-6">SÅDAN ANSØGER DU OM AT BLIVE FRIVILLIG I HEADSPACE</Heading>
      <Text>Udfyld ansøgningsskemaet via vores rekrutteringssystem. Du kan vælge at blive ungerådgiver, chat-rådgiver eller formidlingsfrivillig. For at beskytte personoplysninger (GDPR) skal du oprette en brugerprofil. Vi søger løbende frivillige, og du vælger selv dit center under ansøgningsprocessen. Vi kontakter dig, når vi har modtaget din ansøgning.</Text>
      <Text stylingclasses="font-bold mt-3">Se videoen her og hør hvad Rigmor får ud af at være frivillig i HEADSPACE Danmark.</Text>
    </div>

    <div class="flex justify-center md:justify-end pt-10 md:pt-20 pb-10 md:pb-20">
      <video src={Video_4} class="w-[380px]" autoplay muted loop playsinline>
        Din browser understøtter ikke video-tagget.
      </video>
    </div>
  </section>

  <div class="h-[5px] bg-secondary mt-10 mb-10 w-full"></div>

  <!-- Workshops sektion -->
  <section class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center w-full max-w-[75rem] mx-auto px-4 sm:px-6 md:px-0 mb-10">
    <div>
      <Heading htmlheading="h2" size="h2" stylingclasses="text-primary font-bold block mb-2 pt-6 md:pt-10 pb-4 md:pb-6 px-4 md:px-0">
        WORKSHOPS
      </Heading>
      <Heading htmlheading="h3" size="h3" stylingclasses="text-primary font-bold block">
        HEADSPACE OUTREACH
      </Heading>
      <Text>
        HEADSPACE Outreach er nogen at tale med for unge i alderen 12-25 år der, hvor de har deres hverdag. Vi afholder workshops, der forsøger at fremme unges mentale sundhed gennem dialog og øvelser.
      </Text>
      <Text stylingclasses="mb-10">
        Vi tilbyder både at komme ud til jer med vores workshops, eller at I kan komme på besøg hos os i jeres lokale HEADSPACE-center. Alle oplæg og workshops er desuden gratis at booke hos jeres lokale HEADSPACE-center.
      </Text>
      <Heading htmlheading="h3" size="h3" stylingclasses="text-primary font-bold">
        HVIS DIN KOMMUNE IKKE HAR ET HEADSPACE-CENTER
      </Heading>
      <Text stylingclasses="mb-10">
        Vi prioriterer henvendelser fra kommuner, hvor vi har et headspace-center og en samarbejdsaftale. Det er disse kommuner, der finansierer det opsøgende arbejde og vores lokale tilstedeværelse. Hvis din kommune ikke har et headspace-center, så kontakt det nærmeste headspace-center med henblik på samarbejde. Så oplyser vi om mulighederne samt taksterne herfor.
      </Text>
    </div>
    
    <div class="flex justify-center md:justify-end md:pr-12 w-full">
      <img src={Img_20.src} alt="billede af workshops hos HEADSPACE" class="w-80 rounded-sm mb-10 md:mb-0"/>
    </div>
  </section>

  <!-- Booking scroll sektion -->
<section class="bg-accent w-full py-10">
  <div class="max-w-[75rem] mx-auto px-4 md:px-0">
 <Heading htmlheading="h3" size="h3" stylingclasses="text-primary font-bold block mt-10 mb-">
  UDFORSK MULIGHEDER FOR BOOKING
</Heading>


    <!-- Scroll container -->
    <div class="flex gap-4 overflow-x-auto pb-4 mb-10">

      <!-- Kort 1 -->
      <div class="flex-shrink-0 flex flex-col justify-between p-6 rounded-lg w-[335px] h-[475px] bg-gradient-to-b from-[#F6EDDE] via-[#F6EDDE]/30 to-[#76AFE7] shadow-lg">
        <div class="flex flex-col items-center space-y-4 flex-grow">
          <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold block">HVAD ER HEADSPACE?</Heading>
          <img src={Img_21.src} alt="billede af et hjerte med H inden i" class="w-30"/>
          <div class="flex flex-col items-start text-left space-y-1 mt-2 w-full flex-grow">
            <Text stylingclasses="font-bold">Målgruppe: 12+</Text>
            <Text stylingclasses="font-bold">Varighed: efter behov</Text>
            <Text>Oplægget giver unge indblik i, hvad HEADSPACE er, og hvordan de kan bruge tilbuddet.</Text>
          </div>
        </div>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-6 w-full">TILMELD</button>
      </div>

      <!-- Kort 2 -->
      <div class="flex-shrink-0 flex flex-col justify-between p-6 rounded-lg w-[335px] h-[475px] bg-gradient-to-b from-[#F6EDDE] via-[#F6EDDE]/30 to-[#76AFE7] shadow-lg">
        <div class="flex flex-col items-center space-y-4 flex-grow">
          <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold block">REACH OUT</Heading>
          <img src={Img_22.src} alt="billede af et hjerte med H inden i" class="w-70"/>
          <div class="flex flex-col items-start text-left space-y-1 mt-2 w-full flex-grow">
            <Text stylingclasses="font-bold">Målgruppe: 12+</Text>
            <Text stylingclasses="font-bold">Varighed: 1 t. 30 min.</Text>
            <Text>Gennem dialog og kreativ tænkning sætter workshoppen fokus på at normalisere modgang i livet.</Text>
          </div>
        </div>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-6 w-full">TILMELD</button>
      </div>

      <!-- Kort 3 -->
      <div class="flex-shrink-0 flex flex-col justify-between p-6 rounded-lg w-[335px] h-[475px] bg-gradient-to-b from-[#F6EDDE] via-[#F6EDDE]/30 to-[#76AFE7] shadow-lg">
        <div class="flex flex-col items-center space-y-4 flex-grow">
          <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold block">RECHARGE</Heading>
          <img src={Img_23.src} alt="billede af et hjerte med H inden i" class="w-46"/>
          <div class="flex flex-col items-start text-left space-y-1 mt-2 w-full flex-grow">
            <Text stylingclasses="font-bold">Målgruppe: 14+</Text>
            <Text stylingclasses="font-bold">Varighed: 1 t. 30 min.</Text>
            <Text>Workshoppen undersøger unges egne perspektiver på pres og trivsel.</Text>
          </div>
        </div>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-6 w-full">TILMELD</button>
      </div>

      <!-- Kort 4 -->
      <div class="flex-shrink-0 flex flex-col justify-between p-6 rounded-lg w-[335px] h-[475px] bg-gradient-to-b from-[#F6EDDE] via-[#F6EDDE]/30 to-[#76AFE7] shadow-lg">
        <div class="flex flex-col items-center space-y-4 flex-grow">
          <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold block text-center">TVIVL, TRIVSEL OG UDDANNELSESVALG</Heading>
          <img src={Img_24.src} alt="billede af et hjerte med H inden i" class="w-22"/>
          <div class="flex flex-col items-start text-left space-y-1 mt-2 w-full flex-grow">
            <Text stylingclasses="font-bold">Målgruppe: 14+ - udskoling</Text>
            <Text stylingclasses="font-bold">Varighed: max 2 timer</Text>
            <Text>Workshoppen sætter fokus på unges overvejelser og tvivl i forbindelse med valg af uddannelse.</Text>
          </div>
        </div>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-6 w-full">TILMELD</button>
      </div>

      <!-- Kort 5 -->
      <div class="flex-shrink-0 flex flex-col justify-between p-6 rounded-lg w-[335px] h-[475px] bg-gradient-to-b from-[#F6EDDE] via-[#F6EDDE]/30 to-[#76AFE7] shadow-lg">
        <div class="flex flex-col items-center space-y-4 flex-grow">
          <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold block">HVAD GØR DIG GLAD?</Heading>
          <img src={Img_25.src} alt="billede af et hjerte med H inden i" class="w-65"/>
          <div class="flex flex-col items-start text-left space-y-1 mt-2 w-full flex-grow">
            <Text stylingclasses="font-bold">Målgruppe: 12+</Text>
            <Text stylingclasses="font-bold">Varighed: max 2 timer</Text>
            <Text>Via et brætspil skaber vi en åben og reflekterende dialog om unges trivsel.</Text>
          </div>
        </div>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-6 w-full">TILMELD</button>
      </div>

      <!-- Kort 6 -->
      <div class="flex-shrink-0 flex flex-col justify-between p-6 rounded-lg w-[335px] h-[475px] bg-gradient-to-b from-[#F6EDDE] via-[#F6EDDE]/30 to-[#76AFE7] shadow-lg">
        <div class="flex flex-col items-center space-y-4 flex-grow">
          <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold block">SAMMEN OM SAMTALEN</Heading>
          <img src={Img_26.src} alt="billede af et hjerte med H inden i" class="w-32"/>
          <div class="flex flex-col items-start text-left space-y-1 mt-2 w-full flex-grow">
            <Text stylingclasses="font-bold">Målgruppe: Voksne, der arbejder med unge.</Text>
            <Text stylingclasses="font-bold">Varighed: 2 timer</Text>
            <Text>HEADSPACE inviterer til refleksion over, hvordan vi kan støtte unge i mistrivsel.</Text>
          </div>
        </div>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-6 w-full">TILMELD</button>
      </div>

      <!-- Kort 7 -->
      <div class="flex-shrink-0 flex flex-col justify-between p-6 rounded-lg w-[335px] h-[475px] bg-gradient-to-b from-[#F6EDDE] via-[#F6EDDE]/30 to-[#76AFE7] shadow-lg">
        <div class="flex flex-col items-center space-y-4 flex-grow">
          <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold block">MINDU</Heading>
          <img src={Img_27.src} alt="billede af et hjerte med H inden i" class="w-60"/>
          <div class="flex flex-col items-start text-left space-y-1 mt-2 w-full flex-grow">
            <Text stylingclasses="font-bold">Målgruppe: Kommende konfirmander</Text>
            <Text stylingclasses="font-bold">Varighed: 1 t. 30 min.</Text>
            <Text>Workshoppen sætter gennem øvelser og dialog spot på følelser, tanker og sårbarhed, unge kan have.</Text>
          </div>
        </div>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-6 w-full">TILMELD</button>
      </div>

      <!-- Kort 8 -->
      <div class="flex-shrink-0 flex flex-col justify-between p-6 rounded-lg w-[335px] h-[475px] bg-gradient-to-b from-[#F6EDDE] via-[#F6EDDE]/30 to-[#76AFE7] shadow-lg">
        <div class="flex flex-col items-center space-y-4 flex-grow">
          <Heading htmlheading="h4" size="h4" stylingclasses="text-primary font-bold block">LOKALE WORKSHOPS</Heading>
          <img src={Img_28.src} alt="billede af et hjerte med H inden i" class="w-22"/>
          <div class="flex flex-col items-start text-left space-y-1 mt-2 w-full flex-grow">
            <Text stylingclasses="font-bold">Målgruppe: 12+</Text>
            <Text stylingclasses="font-bold">Varighed: varierende</Text>
            <Text>Nogle centre har også lokale workshops. Kontakt dit center for at høre mere.</Text>
          </div>
        </div>
        <button class="bg-cta hover:bg-cta-hover rounded-lg text-neutral-white py-4 font-black text-center mt-6 w-full">TILMELD</button>
      </div>

    </div>
  </div>
</section>


</MainLayout>
